body {
  background-image: linear-gradient(white, violet, rgba(146, 9, 158, 0.349), white); }

.bg_violet {
  background-color: violet; }

.bg-morado {
  background-color: #a649fc; }

.bg_violet:hover {
  transform: translate(-6px, -6px); }

nav:hover a:hover {
  transform: translate(5px, 5px);
  animation-duration: 4s; }

main iframe {
  height: 600px;
  width: 100%; }
