*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.bg_violet:hover {
  transform: translate(-6px, -6px); }

nav:hover a:hover {
  transform: translate(5px, 5px);
  animation-duration: 4s; }

body {
  background-image: linear-gradient(white, violet, rgba(146, 9, 158, 0.349), white); }

.bg_violet {
  background-color: violet; }

.bg-morado {
  background-color: #a649fc; }

.limpieza {
  position: relative;
  left: 285px; }

main iframe {
  height: 600px;
  width: 100%; }

main section p {
  text-align: center; }

.texto {
  margin: 20px 100px; }

@media screen and (max-width: 1200px) {
  .limpieza {
    display: none; } }

@media screen and (max-width: 576px) {
  .texto {
    margin: 20px; } }
