body {
    background-image: linear-gradient($white, $violet, rgba(146, 9, 158, 0.349), $white);
  }
  
  .bg_violet {
    background-color: $violet;
}

.bg-morado {
    background-color: rgb(166, 73, 252);
  }